<h1>codeGen application</h1>
<h2>Find, drag, drop, set values and reuse! \n Let's create! </h2>

<div class="blurb">We offer free, a simple application that will allow the programmer / user to accelerate the coding process, and learn how some functions can be done, using blocks of codes and atrocious values to the accepted parameters, and finally to accelerate the development process by creating their own blocks custom.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
